extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a sample application made by J. Sabaroche using Node.js and Express.
  button(type="button" class="btn btn-outline-primary") Sample Button
